@page "/servers/add"
@inject NavigationManager NavigationManager

<h3>CreateServer</h3>
<EditForm Model="Server" OnValidSubmit="HandleSubmit" FormName="CreateServerForm">
    <!--Add Validation-->
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <InputText @bind-Value="Server.Name" class="form-control"/>
            <ValidationMessage For="() => Server.Name" />
        </div>

        <div class="mb-3">
            <label class="form-label">City</label>
            <InputText @bind-Value="Server.City" class="form-control"/>
            <ValidationMessage For="() => Server.City"/>
        </div>

        <div class="mb-3">
            <InputCheckbox @bind-Value="Server.IsOnline" class="form-check-input" />
            <label class="form-check-label">Online</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/servers" class="btn btn-secondary">Cancel</a>

</EditForm>


@code {

    //Binds the data from the HTTP post request to the server property
    [SupplyParameterFromForm(FormName = "CreateServerForm")]
    public Server? Server { get; set; } = new();

    private void HandleSubmit()
    {
        if(Server is not null)
            ServersRepository.AddServer(Server);

        NavigationManager.NavigateTo($"/servers/back_from/{Server.City}");
    }
}
