@page "/server/{serverId:int}"
@using ServerManagement.Components.Reusable_Controls.Templated_Components
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Server Details</h3>
@if (server is not null)
{
    <EditForm Model="server" OnValidSubmit="HandleSubmit">
        <!-- Validation -->
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <InputFieldTemplate Label="Name" ValidationFor="() => server.Name">
            <InputText @bind-Value="server.Name" class="form-control input-width"/>
        </InputFieldTemplate> 

        <InputFieldTemplate Label="City" ValidationFor="() => server.City">
            <InputText @bind-Value="server.City" class="form-control input-width" />
        </InputFieldTemplate>

        <InputFieldTemplate Label="Online" IsCheckbox="true">
            <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input" />
        </InputFieldTemplate>
        

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/servers" class="btn btn-secondary">Cancel</a>

    </EditForm>
}
else
{
    <p>Server not found.</p>
}


@code {

    [Parameter]
    public int ServerId { get; set; }

    private Server? server;

    protected override void OnParametersSet()
    {
        server ??= ServersRepository.GetServerById(ServerId);
    }

    private void HandleSubmit()
    {
        if(server is not null)
        {
            ServersRepository.UpdateServer(server.Id, server);
        }

        NavigationManager.NavigateTo("/servers");
    }
}
